#platform=x86, AMD64, ou Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use network installation
url --url="http://mirror.nsc.liu.se/centos-store/centos/6/os/x86_64/"
repo --name="Base" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/os/x86_64/ --cost=100
repo --name="Updates" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/updates/x86_64/ --cost=1000
repo --name="Extras" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/extras/x86_64/ --cost=1000
repo --name="CentosPlus" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/centosplus/x86_64/ --cost=1000
repo --name="Contrib" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/contrib/x86_64/ --cost=1000
repo --name="Fasttrack-" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/fasttrack/x86_64/ --cost=1000
repo --name="CR" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/cr/x86_64/ --cost=1000
repo --name="SCLo" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/sclo/x86_64/sclo/ --cost=1000
repo --name="SCLO RH" --baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/sclo/x86_64/rh/ --cost=1000
repo --name="Epel" --baseurl=http://mirrors.hostiserver.com/fedora/archive/epel/6/x86_64/ --cost=1000
repo --name="remi" --baseurl=http://fr2.rpmfind.net/linux/remi/enterprise/6/remi/x86_64/ --cost=1000
repo --name="remi-safe" --baseurl=http://fr2.rpmfind.net/linux/remi/enterprise/6/safe/x86_64/ --cost=1000
repo --name="remi-php56" --baseurl=http://fr2.rpmfind.net/linux/remi/enterprise/6/php56/x86_64/ --cost=1000
repo --name="rpmfusion-free" --baseurl=http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/free-archive/el/updates/6/x86_64/ --cost=1000
repo --name="rpmfusion-nonfree" --baseurl=http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/nonfree-archive/el/updates/6/x86_64/ --cost=1000
# Root password
rootpw --iscrypted $1$D3cEkK2L$HJDRha2vIQZmHafImui5F.
# user
user Desktop --iscrypted --password $1$D3cEkK2L$HJDRha2vIQZmHafImui5F.
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System keyboard
keyboard fr-latin9
# System language
lang fr_FR
# SELinux configuration
selinux --disabled
# Installation logging level
logging --level=info

# System timezone
timezone --isUtc Europe/Paris
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on
# System bootloader configuration
bootloader --append="crashkernel=auto rhgb quiet" --location=mbr --driveorder="sda"
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel

%post
rm -f /etc/yum.repos.d/CentOS-Xen-48.repo
# base install with force use http centos vault archive repo not use ssl for centos-release
# yum -y install centos-releases
# yum -y reinstall centos-release
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-Base.repo"
sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Base.repo"
sed -i 's|enabled=0|enabled=1|g' "/etc/yum.repos.d/CentOS-Base.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-fasttrack.repo"
sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-fasttrack.repo"
sed -i 's|enabled=0|enabled=1|g' "/etc/yum.repos.d/CentOS-fasttrack.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-Debuginfo.repo"
sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Debuginfo.repo"
#remove obsolete centos-vault repository
rm -f /etc/yum.repos.d/CentOS-Vault.repo
# add new vault centos 6 source code repository
echo "[base-source]" > /etc/yum.repos.d/CentOS-Source.repo
echo "name=CentOS-6 - Base-Source" >> /etc/yum.repos.d/CentOS-Source.repo
echo "baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/os/Source/" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgcheck=1" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-6" >> /etc/yum.repos.d/CentOS-Source.repo
echo "enabled=0" >> /etc/yum.repos.d/CentOS-Source.repo
echo "metadata_expire=24h" >> /etc/yum.repos.d/CentOS-Source.repo
echo "" >> /etc/yum.repos.d/CentOS-Source.repo
echo "[updates-source]" >> /etc/yum.repos.d/CentOS-Source.repo
echo "name=CentOS-6 - Updates-Source" >> /etc/yum.repos.d/CentOS-Source.repo
echo "baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/updates/Source/" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgcheck=1" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-6" >> /etc/yum.repos.d/CentOS-Source.repo
echo "enabled=0" >> /etc/yum.repos.d/CentOS-Source.repo
echo "metadata_expire=24h" >> /etc/yum.repos.d/CentOS-Source.repo
echo "" >> /etc/yum.repos.d/CentOS-Source.repo
echo "[extras-source]" >> /etc/yum.repos.d/CentOS-Source.repo
echo "name=CentOS-6 - Extras-Source" >> /etc/yum.repos.d/CentOS-Source.repo
echo "baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/extras/Source/" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgcheck=1" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-6" >> /etc/yum.repos.d/CentOS-Source.repo
echo "enabled=0" >> /etc/yum.repos.d/CentOS-Source.repo
echo "metadata_expire=24h" >> /etc/yum.repos.d/CentOS-Source.repo
echo "" >> /etc/yum.repos.d/CentOS-Source.repo
echo "[centosplus-source]" >> /etc/yum.repos.d/CentOS-Source.repo
echo "name=CentOS-6 - Plus-Source" >> /etc/yum.repos.d/CentOS-Source.repo
echo "baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/centosplus/Source/" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgcheck=1" >> /etc/yum.repos.d/CentOS-Source.repo
echo "enabled=0" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-6" >> /etc/yum.repos.d/CentOS-Source.repo
echo "metadata_expire=24h" >> /etc/yum.repos.d/CentOS-Source.repo
echo "" >> /etc/yum.repos.d/CentOS-Source.repo
echo "[fasttrack-source]" >> /etc/yum.repos.d/CentOS-Source.repo
echo "name=CentOS-6 - fasttrack-Source" >> /etc/yum.repos.d/CentOS-Source.repo
echo "baseurl=http://mirror.nsc.liu.se/centos-store/centos/6/fasttrack/Source/" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgcheck=1" >> /etc/yum.repos.d/CentOS-Source.repo
echo "enabled=0" >> /etc/yum.repos.d/CentOS-Source.repo
echo "gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-6" >> /etc/yum.repos.d/CentOS-Source.repo
echo "metadata_expire=24h" >> /etc/yum.repos.d/CentOS-Source.repo
# force use http centos vault archive repo not use ssl for  centos-release-cr
# yum -y install centos-release-cr
# yum -y reinstall centos-release-cr
sed -i 's|enabled=0|enabled=1|g' "/etc/yum.repos.d/CentOS-CR.repo"
sed -i 's|baseurl=http://mirror.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-CR.repo"
# yum -y install centos-release-azure centos-release-virt-common centos-release-storage-common
# yum -y reinstall centos-release-azure centos-release-virt-common centos-release-storage-common
sed -i 's|baseurl=http://mirror.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Azure.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Azure.repo"
# yum -y install centos-release-scl centos-release-scl-rh
# yum -y reinstall centos-release-scl centos-release-scl-rh
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-SCLo-scl.repo"
sed -i 's|# baseurl=http://mirror.centos.org|baseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-SCLo-scl.repo"
sed -i 's|baseurl=http://vault.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-SCLo-scl.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-SCLo-scl-rh.repo"
sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-SCLo-scl-rh.repo"
sed -i 's|baseurl=http://vault.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-SCLo-scl-rh.repo"
# yum -y install centos-release-xen centos-release-xen-common centos-release-gluster312 centos-release-gluster-legacy centos-release-xen-46 centos-release-xen-48 centos-release-xen-44 centos-release-gluster41 centos-release-gluster5 centos-release-gluster6 centos-release-gluster7 centos-release-xen-410
# yum -y reinstall centos-release-xen centos-release-xen-common centos-release-gluster312 centos-release-gluster-legacy centos-release-xen-46 centos-release-xen-48 centos-release-xen-44 centos-release-gluster41 centos-release-gluster5 centos-release-gluster6 centos-release-gluster7 centos-release-xen-410
sed -i 's|baseurl=http://mirror.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Gluster-4.1.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Gluster-4.1.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Gluster-5.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-Gluster-5.repo"
sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Gluster-5.repo"
sed -i 's|$contentdir|centos|g' "/etc/yum.repos.d/CentOS-Gluster-5.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Gluster-6.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-Gluster-6.repo"
sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Gluster-6.repo"
sed -i 's|$contentdir|centos|g' "/etc/yum.repos.d/CentOS-Gluster-6.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Gluster-7.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-Gluster-7.repo"
sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Gluster-7.repo"
sed -i 's|baseurl=http://mirror.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Xen-410.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Xen-410.repo"
sed -i 's|baseurl=http://mirror.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Xen-44.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Xen-44.repo"
sed -i 's|baseurl=http://mirror.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Xen-46.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Xen-46.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Xen-dependencies.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/CentOS-Xen-dependencies.repo"
sed -i 's|#baseurl=http://download.fedoraproject.org/pub/|baseurl=http://mirrors.hostiserver.com/fedora/archive/|g' "/etc/yum.repos.d/CentOS-Xen-dependencies.repo"
sed -i 's|baseurl=http://mirror.centos.org|metadata_expire=24h\nbaseurl=http://mirror.nsc.liu.se/centos-store|g' "/etc/yum.repos.d/CentOS-Xen.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/CentOS-Xen.repo"
#remove duplicate CentOS-xen and CentOS-xen-48 identic file contain
rm -f "/etc/yum.repos.d/CentOS-Xen-48.repo"
# yum -y install epel-release
# yum -y reinstall epel-release
sed -i 's|#baseurl=http://download.fedoraproject.org/pub/|baseurl=http://mirrors.hostiserver.com/fedora/archive/|g' "/etc/yum.repos.d/epel.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/epel.repo"
sed -i 's|#baseurl=http://download.fedoraproject.org/pub/|baseurl=http://mirrors.hostiserver.com/fedora/archive/|g' "/etc/yum.repos.d/epel-testing.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/epel-testing.repo"
# yum -y install http://rpms.remirepo.net/enterprise/remi-release-6.rpm yum-utils
# yum -y reinstall http://rpms.remirepo.net/enterprise/remi-release-6.rpm yum-utils
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi.repo"
sed -i 's|baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-glpi91.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-glpi91.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-glpi91.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-glpi92.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-glpi92.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-glpi92.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-glpi93.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-glpi93.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-glpi93.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-glpi94.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-glpi94.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-glpi94.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-php54.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-php54.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-php54.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-php70.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-php70.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-php70.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-php71.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-php71.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-php71.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-php72.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-php72.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-php72.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-php73.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-php73.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/remi-php73.repo"
sed -i 's|#baseurl=http://rpms.remirepo.net|baseurl=http://fr2.rpmfind.net/linux/remi|g' "/etc/yum.repos.d/remi-safe.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/remi-safe.repo"
yum-config-manager --enable remi
yum-config-manager --enable remi-php56
# yum -y install http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/free-archive/el/updates/6/x86_64/rpmfusion-free-release-6-4.noarch.rpm http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/free-archive/el/updates/6/x86_64/rpmfusion-free-release-tainted-6-4.noarch.rpm http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/nonfree-archive/el/updates/6/x86_64/rpmfusion-nonfree-release-6-4.noarch.rpm http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/nonfree-archive/el/updates/6/x86_64/rpmfusion-nonfree-release-tainted-6-4.noarch.rpm
# yum -y reinstall http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/free-archive/el/updates/6/x86_64/rpmfusion-free-release-6-4.noarch.rpm http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/free-archive/el/updates/6/x86_64/rpmfusion-free-release-tainted-6-4.noarch.rpm http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/nonfree-archive/el/updates/6/x86_64/rpmfusion-nonfree-release-6-4.noarch.rpm http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/nonfree-archive/el/updates/6/x86_64/rpmfusion-nonfree-release-tainted-6-4.noarch.rpm
sed -i 's|#baseurl=http://download1.rpmfusion.org/free/|baseurl=http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/free-archive/|g' "rpmfusion-free-tainted.repo"
sed -i 's|metalink=.*|metadata_expire=24h|g' "/etc/yum.repos.d/rpmfusion-free-tainted.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/rpmfusion-free-tainted.repo"
sed -i 's|#baseurl=http://download1.rpmfusion.org/free/|baseurl=http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/free-archive/|g' "/etc/yum.repos.d/rpmfusion-free-updates-testing.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/rpmfusion-free-updates-testing.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/rpmfusion-free-updates-testing.repo"
sed -i 's|#baseurl=http://download1.rpmfusion.org/free/|baseurl=http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/free-archive/|g' "/etc/yum.repos.d/rpmfusion-free-updates.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/rpmfusion-free-updates.repo"
sed -i 's|#baseurl=http://download1.rpmfusion.org/nonfree/|baseurl=http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/nonfree-archive/|g' "rpmfusion-nonfree-tainted.repo"
sed -i 's|metalink=.*|metadata_expire=24h|g' "/etc/yum.repos.d/rpmfusion-nonfree-tainted.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/rpmfusion-nonfree-tainted.repo"
sed -i 's|#baseurl=http://download1.rpmfusion.org/nonfree/|baseurl=http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/nonfree-archive/|g' "/etc/yum.repos.d/rpmfusion-nonfree-updates-testing.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/rpmfusion-nonfree-updates-testing.repo"
sed -i 's|enabled=1|enabled=0|g' "/etc/yum.repos.d/rpmfusion-nonfree-updates-testing.repo"
sed -i 's|#baseurl=http://download1.rpmfusion.org/nonfree/|baseurl=http://mirror1.hs-esslingen.de/pub/Mirrors/archive.rpmfusion.org/nonfree-archive/|g' "/etc/yum.repos.d/rpmfusion-nonfree-updates.repo"
sed -i 's|mirrorlist=.*|metadata_expire=24h|g' "/etc/yum.repos.d/rpmfusion-nonfree-updates.repo"
sed -i 's|id:3|id:5|g' "/etc/inittab"
%end

%packages
@core
@french-support
@server-policy
@workstation-policy
@legacy-x
#@basic-desktop
@xfce-desktop
@desktop-platform
@desktop-platform-devel
@general-desktop
@remote-desktop-clients
@development
@server-platform-devel
@additional-devel
@internet-browser
@office-suite
@base
@buildsys-build
@fedora-packager
@fonts
@desktops
@rpmfusion_free-gnome-desktop
@rpmfusion_free-sound-and-video
@rpmfusion_free-misc-libs
@rpmfusion_free-internet
centos-release
centos-release-xen
centos-release-xen-common
centos-release-azure
centos-release-gluster312
centos-release-gluster-legacy
centos-release-xen-46
centos-release-xen-48
centos-release-xen-44
centos-release-scl-rh
centos-release-storage-common
remi-release
centos-release-scl
centos-release-virt-common
centos-release-gluster41
rpmfusion-free-release
centos-release-cr
epel-release
rpmfusion-nonfree-release-tainted
centos-release-gluster5
centos-release-gluster6
centos-release-gluster7
rpmfusion-free-release-tainted
rpmfusion-nonfree-release
centos-release-xen-410
-PackageKit


%end
reboot















